@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />
<div class="border backgorundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Category List</h2> 
        </div>

        <div class="col-6 text-right">
            @await Html.PartialAsync("~/Views/Shared/_CreateButtonPartial.cshtml")&nbsp;
        </div>

    </div>
    <div>
        @if (Model.Count() > 0)
        {
            <table class="table table-striped">
                <tr class="table-secondary">
                    <th> @Html.DisplayNameFor(u => u.Name)</th>
                    <th></th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(u => item.Name)</td>
                        <td>Edit|Details|Delete</td>
                    </tr>
                }

            </table>
        }
        else
        {
            <p>No Category Found</p>
        }
    </div>
</div>
