   
  <div class="col-6">
          <input type="submit" value="Update" class="btn btn-success form-control" />
  </div>
  <div class="col-6">
           <a asp-action="index"  class="btn btn-info form-control">Back To List</a>
  </div>
